<div class="CollabPanel">
	<template v-if="show">
		<div class="collab-bar">
			<div class="collab-list">
				<div class="collab-profile" v-repeat="user in users">
					<div class="collab-status" v-if="user.online == 'away'"></div>
					<div class="profile-image" v-style="border-color: user.color" v-class="online: user.online == 'online'">
						<div class="collab-image collab-image-placeholder u-full-width" v-if="!user.profile_image">
	                        <i class="fa fa-user fa-fw"></i>
	                    </div>
				        <img class="collab-image u-full-width" v-if="user.profile_image"
				        	 v-attr="src: user.profile_image" v-link="{ name: 'user', params: { uid: user.uid }}"/>
				        <div class="collab-footer">
				        	<div class="circle-segment" v-style="background: user.color"></div>
				        </div>
				    </div>
				    <div class="tooltip-arrow" v-style="border-bottom-color: user.color">
				    	<div class="tooltip-content" v-style="background: user.color">
					    	<div class="tooltip-text" v-text="user.username" v-style="color: user.color"></div>
					    </div>
				    </div>
			    </div>
			</div>
		</div>
	    <div class="add-profile" v-on="click: add_collaborator">
	    	<i class="fa fa-plus fa-fw"></i>
	    </div>
	</template>
</div>
