.CollabPanel {
	height: 100%;
	width: 100%;
}

.CollabPanel
.collab-bar {
	display: inline-block;
}

.collab-list {
    white-space: nowrap;
}

.CollabPanel
.collab-profile {
	position: relative;
	display: inline-block;
}

.CollabPanel
.profile-image {
	position: relative;
	vertical-align: top;
	margin-right: 10px;
	border-width: 1px;
	border-style: solid;
    box-sizing: border-box;

	opacity: 0.5;
}

.CollabPanel
.profile-image.online {
	opacity: 1;
}

.CollabPanel
.collab-image-placeholder {
	font-size: 2em;
	color: #fff;
}

.CollabPanel
.collab-footer {
	position: absolute;
	top: 30px;

	width: 100%;
	height: 10px;

    overflow: hidden;
}

.CollabPanel
.collab-footer
.circle-segment {
	margin-top: -29px;
	width: 38px;
	height: 38px;
	
	background-color: #FFF;
	border-radius: 19px;
}

.CollabPanel
.add-profile {
	position: relative;
	width: 40px;
	height: 40px;

	display: inline-block;
	vertical-align: top;

    margin-left: -5px;
    padding: 3px;
    box-sizing: border-box;

	text-align: center;
    font-size: 1.4em;

	color: #69AEBB;
	background-color: rgba(255, 255, 255, 0.5);

	border-width: 1px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
}

.CollabPanel
.add-profile:hover {
	color: #fff;
	border-color: #fff;
}

.CollabPanel
.tooltip-arrow {
	position: relative;
	left: 10px;
	z-index: 1;
	width: 0;
	height: 0;

	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #585858 transparent;

	visibility: hidden;
}

.CollabPanel
.profile-image:hover + .tooltip-arrow {
	visibility: visible;
}

.CollabPanel
.tooltip-content {
	position: absolute;
    top: 5px;
    left: -20px;
	z-index: 1;

	min-width: 40px;
	min-height: 24px;

	padding: 2px 10px;

	background-color: #585858;
}

.CollabPanel
.tooltip-text {
	opacity: 0.7;
	color: #000;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.CollabPanel
.collab-status {
	position: absolute;
	right: 8px;
	z-index: 1;

	width: 15px;
	height: 15px;

	border-radius: 10px;
	background-color: #FFEB8C;

	border: 2px solid #69AEBB;
	box-sizing: border-box;
}
