<div class="UserPanel">
    <div class="head">
        <div class="icon">
            <icon-component fill="#FFF"></icon-component>
        </div>
        <h4 class="site-title">Trippy</h4>

        <!-- Trips Users -->
        <span class="center-bar" v-if="trip">
            <users-panel adapter="{{ users_adapter }}"></users-panel>
        </span>

        <span class="user-profile pull-right">
            <span class="profile-name title" v-text="user_tag"></span>
            <span class="profile-image">
                <div class="logout-container" v-if="user" v-on="click: logout">
                    <img class="login-image u-full-width" v-attr="src: user.profile_image" />
                </div>
                <div class="login-container" v-if="!user" v-on="click: login">
                    <i class="fa fa-user fa-fw"></i>
                </div>
            </span>
        </span>
    </div>
    <div class="foot"></div>
</div>
