<div class="UserPanel">
    <div class="head">
        <!-- Site Title -->
        <span class="left-bar">
            <div class="icon" v-link="{ name: 'trips' }">
                <icon-component fill="#FFF"></icon-component>
            </div>
            <h4 class="site-title" v-link="{ name: 'trips' }">Trippy</h4>
        </span>
        <!-- Trip Users -->
        <span class="center-bar">
            <template v-if="trip">
                <users-panel adapter="{{ users_adapter }}"></users-panel>
            </template>
        </span>
        <!-- Login User -->
        <span class="right-bar">
            <span class="user-profile pull-right">
                <span class="profile-name title"
                    v-text="user.username"
                    v-link="{ name: 'user', params: { uid: user.uid }}"
                    v-if="user"></span>
                <span class="profile-name title" v-if="!user">Login</span>
                <span class="profile-image">
                    <div class="logout-container" v-if="user" v-on="click: logout">
                        <img class="login-image u-full-width" v-attr="src: user.profile_image" />
                    </div>
                    <div class="login-container" v-if="!user" v-on="click: login('github')">
                        <i class="fa fa-user fa-fw"></i>
                    </div>
                    <div class="login-container" v-if="!user" v-on="click: login('twitter')">
                        <i class="fa fa-user fa-fw"></i>
                    </div>
                    <div class="login-container" v-if="!user" v-on="click: login('google')">
                        <i class="fa fa-user fa-fw"></i>
                    </div>
                </span>
            </span>
        </span>
    </div>
    <div class="foot"></div>
</div>
