<div class="TagsPanel">
	<div class="row">
        <div class="one-third column">
            <input id="trip_label_input" type="text" v-model="new_member_title"  placeholder="title"/>
            <button v-on="click:add_member" v-attr="disabled:!new_member_title">Add</button>
            <hr/>
            <template v-repeat="members">
                <div class="TagsMember">
                    <label>{{ title }}</label>
                    <input class="u-full-width" type="text" v-selectize="tags" />
                </div>
            </template>
        </div>
    	<div class="two-thirds column">
            <div class="graph"></div>
            <p>{{ all_tags }}</p>
        </div>
  	</div>
</div>