<!-- SearchPanel -->
<div class="SearchPanel">
    <!-- content -->
    <div class="title title-bar">Search Locations:</div>
    <div class="search-placeholder" v-if="!results">
        <div class="placeholder-text">Search a destination.</div>
        <div class="placeholder-icon">
        	<icon-component fill="#DDDDDD"></icon-component>
        </div>
    </div>
    <ul class="list-containter">
        <template v-repeat="results">
            <li v-on="mouseover: highlight($index), click: add_to_trip($data)">
                {{title}}
            </li>
        </template>
    </ul>
	<div class="search-bar">
		<form v-on="submit:do_search" autocomplete="off">
			<span class="input-action align-left" v-on="click: do_here">
				<i class="fa fa-dot-circle-o fa-fw" v-class="searching: here_pending"></i>
			</span>
			<input id="search_input" class="search-input" type="text" v-model="search" placeholder="Search"/>
			<span class="input-action pull-right search" v-on="click: do_search">
				<i class="fa fa-search fa-fw"></i>
			</span>
			<span class="input-action pull-right clear" v-on="click: clear" v-if="search">
				<i class="fa fa-close fa-fw" v-class="searching: search_pending"></i>
			</span>
		</form>
		<div class="footer-bar"></div>
	</div>
</div>
