<div class="LocationsPanel">
    <div class="locations-placeholder" v-if="length < 1">
        <div class="placeholder-text">Add a destination.</div>
        <div class="placeholder-icon">
            <icon-component fill="#DDDDDD"></icon-component>
        </div>
    </div>
    <ul class="list-containter">
        <li v-repeat="locations">
            <div class="location-item">
                <div class="location-coords">
                    <span v-text="lat | round"></span> :
                    <span v-text="lng | round"></span>
                    <span class="remove-button pull-right">
                        <i class="fa fa-close fa-fw" v-on="click: remove_location($key)"></i>
                    </span>
                </div>
                <span class="location-title" type="text" v-text="title"></span>
            </div>
        </li>
    </ul>
</div>