.LocationsPanel
.locations-placeholder {
	width: 100%;
	margin-top: 30px;
	background-color: transparent;
	font: 1.3em;
	text-align: center;
	color: #D4D4D4;
}

.LocationsPanel
.locations-placeholder
.placeholder-icon {
	display: inline-block;
	width: 60px;
	height: 60px;
}

.LocationsPanel
.location-item {
	padding: 2px;
}

.LocationsPanel
.location-coords {
	padding-top: 6px 10px;
	box-sizing: border-box;
}

.LocationsPanel
.location-title {
	padding-top: 6px 10px;
	display: inline-block;
	width: 100%;
	height: 25px;
	margin: 0px;

	border-radius: 0px;
	border: none;
}

.LocationsPanel
.location-title:focus {
	border: none;
}

.LocationsPanel{
	position: relative;
	height: 100%;
	width: 100%;

	background-color: #f4f4f4;
}

.LocationsPanel
.title-bar {
	width: 100%;
	text-align: center;
	background-color: #FFE9B3;
	border-bottom: 1px solid #e3e2e1;
	padding-top: 5px;
}

.LocationsPanel
.action-bar {
	position: absolute;
	bottom: 0px;

	width: 100%;

	background-color: #fff;
	white-space:nowrap;

    border-top: 1px solid #e3e2e1;
}

.LocationsPanel
form {
	margin: 0px;
}

.LocationsPanel
.footer-bar {
	width: 100%;
	height: 5px;
	background-color: #FFDE8D;
}

.LocationsPanel
.name-field {
	border-radius: 0px;
	margin: 0px;

	width: 90%;
	border: none;
}

.LocationsPanel
.name-field:focus {
	border: none;
}

.LocationsPanel
.add-button {
	width: 10%;
	height: 38px;

	margin: 0px;
    padding-top: 4px;
    box-sizing: border-box;

	color: #69AEBB;
	font-size: 1.3em;
	text-align: center;

    border: none;
	border-radius: 0px;

    cursor: pointer;
}

.LocationsPanel
.add-button:hover {
	color: #CFECF2;
}

.LocationsPanel
.list-containter {
	max-height: 90%;
	width: 100%;
	background-color: white;
	margin: 0px;
	padding: 0px;

	list-style: none;

	overflow: auto;
}

.LocationsPanel
.list-containter
li {
	padding: 5px 10px;
	border-bottom: 1px solid #e3e2e1;
	margin: 0px;

	cursor: pointer;

	width: 100%;
	box-sizing: border-box;
}

.LocationsPanel
.list-containter
li:hover {
	background-color: #CFECF2;
}

.LocationsPanel
.list-item-text {
	display: inline-block;
	vertical-align: middle;
	max-width: 90%;

	overflow: hidden;
	text-overflow: ellipsis;
}

.LocationsPanel
.remove-button {
	color: #69AEBB;
	text-align: center;
    cursor: pointer;
	visibility: hidden;
}

.LocationsPanel
.remove-button:hover {
	color: #D83F3F;
}

.LocationsPanel
.list-containter li:hover
.remove-button {
	visibility: visible;
}

.LocationsPanel
.close-bar {}

.LocationsPanel
.close-button {
	width: 100%;
	background-color: #69AEBB;
	color: white;

	border: none;
	border-radius: 0px;
	margin: 0px;
}

.LocationsPanel
.close-button:hover {
	color: #CFECF2;
}

.LocationsPanel
.edit-title {
	padding: 0px 10px;
	height: 18px;
	margin: 0px;

	text-align: center;

	border: none;
	border-radius: 0;

	background-color: transparent;

	overflow: hidden;
	text-overflow: ellipsis;
}

.LocationsPanel
.edit-title:hover {
	background: rgba(255, 255, 155, 0.5);
}

.LocationsPanel
.edit-title:focus {
	background-color: #fff;
}
