<div class="TripsPanel">
	<template v-if="!trip">
		<div class="title title-bar">Planned Trips:</div>
		<ul class="list-containter">
			<li v-repeat="items" v-on="click:open_trip($key)">{{ label }}</li>
		</ul>
		<div class="add-bar">
			<form v-on="submit:add_trip" autocomplete="off">
				<input class="name-field" type="text" v-model="new_label" placeholder="New Trip Name"/>
				<span class="add-button pull-right" v-on="click:add_trip">
					<i class="fa fa-plus fa-fw"></i>
				</span>
			</form>
			<div class="footer-bar"></div>
		</div>
	</template>

	<template v-if="trip">
		<div class="title title-bar">
			<input id="trip_label_input" class="edit-title" type="text" class="u-full-width" v-model="trip.label" />
		</div>
		<ul class="list-containter">
			<li v-repeat="locations">
				<div class="location-item">
					<div class="location-coords">
						<span v-text="lat | round"></span> :
						<span v-text="lng | round"></span>
						<span class="remove-button pull-right">
							<i class="fa fa-close fa-fw"></i>
						</span>
					</div>
					<input class="location-title" type="text" v-model="title" />
				</div>
			</li>
		</ul>
		<div class="close-bar">
			<button class="close-button" v-on="click:close_trip">Close</button>
			<div class="footer-bar"></div>
		</div>
	</template>
</div>
