<div class="TripsPanel">
	<template v-if="!trip">
		<div class="title title-bar">Planned Trips:</div>
		<ul class="list-containter">
			<li v-repeat="items" v-on="click:open_trip($key)">
				<span v-text="label"></span>
				<span class="remove-button pull-right" v-on="click:remove_trip($key)">
					<i class="fa fa-close fa-fw"></i>
				</span>
			</li>
		</ul>
		<div class="add-bar">
			<form v-on="submit:add_trip" autocomplete="off">
				<input class="name-field" type="text" v-model="new_label" placeholder="New Trip Name"/>
				<span class="add-button pull-right" v-on="click:add_trip">
					<i class="fa fa-plus fa-fw"></i>
				</span>
			</form>
			<div class="footer-bar"></div>
		</div>
	</template>

	<template v-if="trip">
		<div class="title title-bar">
			<form v-on="submit:update_trip_name">
				<input id="trip_label_input" class="edit-title" type="text" class="u-full-width" v-on="focus: this.title = trip.label" v-model="trip.label" />
			</form>
		</div>
		<locations-panel lsadapter="{{ locations_adapter }}"></locations-panel>
		<div class="close-bar">
			<button class="close-button" v-on="click:close_trip">Close</button>
			<div class="footer-bar"></div>
		</div>
	</template>
</div>
