.TripsPanel{
	position: relative;
	height: 100%;
	width: 100%;

	background-color: #f4f4f4;
}

.TripsPanel
.title-bar {
	width: 100%;
	text-align: center;
	background-color: #FFE9B3;
	border-bottom: 1px solid #e3e2e1;
	padding-top: 5px;
}

.TripsPanel
.add-bar,
.TripsPanel
.close-bar {
	position: absolute;
	bottom: 0px;
	
	width: 100%;

	background-color: #fff;
	white-space:nowrap;

    border-top: 1px solid #e3e2e1;
}

.TripsPanel
form {
	margin: 0px;
}

.TripsPanel
.footer-bar {
	width: 100%;
	height: 5px;
	background-color: #FFDE8D;
}

.TripsPanel
.name-field {
	border-radius: 0px;
	margin: 0px;

	width: 90%;
	border: none;
}

.TripsPanel
.name-field:focus {
	border: none;
}

.TripsPanel
.add-button {
	width: 10%;
	height: 38px;

	margin: 0px;
    padding-top: 4px;
    box-sizing: border-box;

	color: #69AEBB;
	font-size: 1.3em;
	text-align: center;

    border: none;
	border-radius: 0px;

    cursor: pointer;
}

.TripsPanel
.add-button:hover {
	color: #CFECF2;
}

.TripsPanel
.list-containter {
	max-height: 90%;
	width: 100%;
	background-color: white;
	margin: 0px;
	padding: 0px;

	list-style: none;

	overflow: auto;
}

.TripsPanel
.list-containter
li {
	padding: 5px 10px;
	border-bottom: 1px solid #e3e2e1;
	margin: 0px;

	cursor: pointer;

	width: 100%;
	box-sizing: border-box;
}

.TripsPanel
.list-containter
li:hover {
	background-color: #CFECF2;
}

.TripsPanel
.list-item-text {
	display: inline-block;
	vertical-align: middle;
	max-width: 90%;

	overflow: hidden;
	text-overflow: ellipsis;
}

.TripsPanel
.remove-button {
	color: #69AEBB;
	text-align: center;
    cursor: pointer;
	visibility: hidden;
}

.TripsPanel
.remove-button:hover {
	color: #D83F3F;
}

.TripsPanel
.list-containter li:hover 
.remove-button {
	visibility: visible;
}

.TripsPanel
.close-bar {}

.TripsPanel
.close-button {
	width: 100%;
	background-color: #69AEBB;
	color: white;

	border: none;
	border-radius: 0px;
	margin: 0px;
}

.TripsPanel
.close-button:hover {
	color: #CFECF2;
}

.TripsPanel
.edit-title {
	padding: 0px;
	width: initial;
	height: 18px;
	margin: 0px;

	text-align: center;

	border: none;
	border-radius: 0;

	background-color: transparent;
}

.TripsPanel
.edit-title:hover {
	background: rgba(255, 255, 155, 0.5);
}

.TripsPanel
.edit-title:focus {
	background-color: #fff;
}
